---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/about">about</a>
    <h1>about me</h1>
    <h2>... and my new astro site!</h2>
    <p>
      i am working through astro's introductory tutorials. this is the second
      page that we are building.
    </p>
    <p>
      this site will update as i complete more of the tutorial, so keep checking
      back!
    </p>
  </body>
</html>
