---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

// this is for when blogs are statically added in markdown files rather than in a collection
/* const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
); */

const allPosts = await getCollection('blog');
---

<BaseLayout pageTitle="My Astro learning blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}`} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
