<body>
  <a href="/">home</a>
  <a href="/about/">about</a>
  <a href="/blog/">blog</a>

  <h1>my astro site</h1>
  <h1>my astro learning blog</h1>
  <p>this is where i will post about my journey learning astro.</p>
</body>
