---
import Social from './Social.astro';
---

<footer>
  <p>
    Learn more about my projects at <Social
      platform="github"
      username="lmac-1"
    />
  </p>
  <p>
    Follow me on <Social platform="instagram" username="lucybigmac" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
</style>
